@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 14px;
}

img {
	max-width: 100%;
	height: auto;
}

p {
	line-height: 28px;
	margin-bottom: 25px;
	font-size: 16px;
}

.centered {
	text-align: center;
}

a {
	color: #854d58;
	word-wrap: break-word;
}

a:hover, a:focus {
	color: #7b7b7b;
	text-decoration: none;
	outline: 0;
}

.navbar {
	text-transform: uppercase;
	margin-bottom: 0px;
}

.navbar-inverse {
	padding-bottom: 20px;
	padding-top: 20px;
}

.navbar-inverse {
	background-color: #854d7d;
	border-color: #854d7d;
}

.navbar-inverse .navbar-nav>li>a {
	color: white;
}

.navbar-inverse .navbar-nav>li>a:hover {
	color: #222222;
}

.navbar-brand {
	font-weight: 700;
	font-size: 20px;
	letter-spacing: 2px;
}

.navbar-inverse .navbar-brand {
	color: white;
}

.navbar-inverse .navbar-toggle {
	border-color: transparent;
}

/* +++++ Auxiliares +++++ */
.mt {
	padding-top: 10px;
	padding-bottom: 5px;
	font-weight: bold;
	font-size: 20px;
}

.pt {
	padding-top: 20px;
	padding-bottom: 20px;
	font-weight: bold;
	font-size: 20px;
}

#ww {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #f2f2f2;
}

#footer {
	background-color: #2f2f2f;
	padding-top: 20px;
	padding-bottom: 20px; 
}

#footer p {
	color: white;
}

#footer h4 {
	color: white;
	text-transform: uppercase;
	padding-bottom: 20px;
}

table {
	border-spacing: 1;
	border-collapse: collapse;
	background: white;
	border-radius: 6px;
	overflow: hidden;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
	position: relative;
}

table * {
	position: relative;
}

table td, table th {
	padding-left: 8px;
}

table thead tr {
	height: 60px;
	background: #854d58;
	font-size: 16px;
}

table tbody tr {
	height: 48px;
	border-bottom: 1px solid #E3F1D5;
}

table tbody tr:last-child {
	border: 0;
}

table td, table th {
	text-align: left;
}

table th {
	color: #f2f2f2;
}

table td.l, table th.l {
	text-align: right;
}

table td.c, table th.c {
	text-align: center;
}

table td.r, table th.r {
	text-align: center;
}
